body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: url('grass.jpg');
}

.app {
  display: flex;
  background: white;
  height: 100%;
}

.foodbg {
  height: 107%;
  width: 320px;
}

#sketch-holder {
  display: flex;
  align-items: center;
  margin-bottom: 41px;
}

.welcome {
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 820;
  height: 600;
  background-color: black;
  background: url('picnic.jpg');
}

.welcome-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: white;*/
  background: rgba(255, 255, 255, 0.5);
  font-family: 'Germania One', cursive;
  border-radius: 24px;
  width: 63%;
}

.start {
  margin-top: 20px;
  /*display: block;*/
  width: 20%;
  color: blue;
  background: white;
  border: 2px solid black;
  font-weight: bold;
  font-size: 1.5em;
}

button {
  cursor: pointer;
}

.feed-ant {
  display: flex;

  justify-content: center;
  align-items: center;
  margin-top: 6px;
  font-size: 21px;
  font-family: 'Germania One', cursive;
}

i img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
}

i:hover {
  width: 45px;
  height: 45px;
}

.posion {
  width: 40px;
  height: 40px;
}

.none {
  display: none;
}

h4 img {
  width: 30;
  height: 30;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-right: 108px;
}

.header2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.debug,
.learn,
.btn-reset {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.site {
  width: 16%;
  display: flex;
  justify-content: center;
  margin: 0 auto 10px auto;
}
